.login-page {
  display: flex;
  min-height: 100vh;
  font-family: 'Arial', sans-serif;
}

/* Partie gauche */
.login-left {
  flex: 1;
  background-color: #ffffff;
  padding: 60px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.login-left .logo {
 height: 8em;
  padding: 1em;
  will-change: filter;
  transition: filter 300ms;

}

.login-left h2 {
  margin-bottom: 20px;
  font-size: 24px;
}

.login-left .feature {
  margin-bottom: 20px;
  font-size: 16px;
  line-height: 1.4;
}

/* Partie droite */
.login-right {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 60px;
}

.login-card {
  width: 100%;
  max-width: 400px;
}

.login-card label {
  display: block;
  margin-top: 20px;
  font-weight: 500;
}

.remember-forgot {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 15px 0;
}

.register-text {
  margin-top: 15px;
  text-align: center;
}
