/* Reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.login-page {
  display: flex;
  width: 100vw;
  height: 100vh;
   background: linear-gradient(135deg, #a8edea 0%, #fed6e3 100%);
}


/* ================= LEFT SIDE ================= */
.login-left {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 60px;
}

.logo {
  height: 100px;
  margin-bottom: 30px;
}

.login-left h2 {
  font-size: 26px;
  color: #2c3e50;
  text-align: center;
  max-width: 400px;
}

/* ================= RIGHT SIDE ================= */
.login-right {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 60px;
}

/* Card */
.login-card {
  width: 100%;
  max-width: 420px;
  background: white;
  padding: 40px;
  border-radius: 16px;
  box-shadow: 0 15px 50px rgba(0, 0, 0, 0.1);
}

.login-form label {
  font-weight: 500;
  display: block;
  margin: 15px 0 5px;
}

/* Remember + Forgot */
.remember-forgot {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 15px 0;
}

.remember-forgot a {
  color: #2f59ff;
  text-decoration: none;
}

.remember-forgot a:hover {
  text-decoration: underline;
}

/* Register text */
.register-text {
  text-align: center;
  margin-top: 20px;
}

.register-text a {
  color: #2f59ff;
  font-weight: 600;
  text-decoration: none;
}

.register-text a:hover {
  text-decoration: underline;
}

/* Responsive */
@media (max-width: 900px) {
  .login-page {
    flex-direction: column;
  }

  .login-left,
  .login-right {
    padding: 40px 20px;
  }
}
